In [161]:
import pandas as pd
import numpy as np

In [162]:
df = pd.read_csv('filled_Product.csv')

In [163]:
df.index = np.arange(1, len(df)+1)

In [164]:
df.head()

,productCode,dateAdded,name,asins,brand,primaryCategories,reviewsdate,reviewsdoRecommend,reviewsnumHelpful,reviewsrating,reviewstext,reviewstitle,reviewsusername
1,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2017-09-03T00:00:00.000Z,False,0,3,I thought it would be as big as small paper bu...,Too small,llyyue
2,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2017-06-06T00:00:00.000Z,True,0,5,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,Charmi
3,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2018-04-20T00:00:00.000Z,True,0,4,Didnt know how much i'd use a kindle so went f...,Great for the price,johnnyjojojo
4,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2017-11-02T17:33:31.000Z,True,3,5,I am 100 happy with my purchase. I caught it o...,A Great Buy,Kdperry
5,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2018-04-24T00:00:00.000Z,True,0,5,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,Johnnyblack

In [165]:
df['dateAdded'] = df['dateAdded'].str.extract(r'^(\s*\d+\s*\W+\s*\d+\s*\W+\s*\d+)\S*')

In [166]:
df['reviewsdate'] = df['reviewsdate'].str.extract(r'^(\s*\d+\s*\W+\s*\d+\s*\W+\s*\d+)\S*')

In [167]:
df.insert(loc=0,column='ProductID',value=df['productCode'].factorize()[0]+1)

In [168]:
df.insert(loc=13,column='usernameID',value=df['reviewsusername'].factorize()[0]+1)

In [169]:
df

,ProductID,productCode,dateAdded,name,asins,brand,primaryCategories,reviewsdate,reviewsdoRecommend,reviewsnumHelpful,reviewsrating,reviewstext,reviewstitle,usernameID,reviewsusername
1,1,AVqVGZNvQMlgsOJE6eUY,2017-03-03,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2017-09-03,False,0,3,I thought it would be as big as small paper bu...,Too small,1,llyyue
2,1,AVqVGZNvQMlgsOJE6eUY,2017-03-03,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2017-06-06,True,0,5,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,2,Charmi
3,1,AVqVGZNvQMlgsOJE6eUY,2017-03-03,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2018-04-20,True,0,4,Didnt know how much i'd use a kindle so went f...,Great for the price,3,johnnyjojojo
4,1,AVqVGZNvQMlgsOJE6eUY,2017-03-03,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2017-11-02,True,3,5,I am 100 happy with my purchase. I caught it o...,A Great Buy,4,Kdperry
5,1,AVqVGZNvQMlgsOJE6eUY,2017-03-03,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,2018-04-24,True,0,5,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,5,Johnnyblack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,24,AVqkIdZiv8e3D1O-leaJ,2017-03-06,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,2016-10-21,True,0,5,This is a great tablet for the price. Amazon i...,Good product,3813,litle
4997,24,AVqkIdZiv8e3D1O-leaJ,2017-03-06,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,2016-08-10,True,1,5,This tablet is the perfect size and so easy to...,Great Tablet,3814,gracie
4998,24,AVqkIdZiv8e3D1O-leaJ,2017-03-06,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,2016-06-05,True,8,4,Purchased this for my son. Has room to upgrade...,Great for kids or smaller needs,3657,Hawk
4999,24,AVqkIdZiv8e3D1O-leaJ,2017-03-06,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,2016-09-02,True,0,5,I had some thoughts about getting this for a 5...,Very sturdy for a 5 year old,3815,Mrbilly
5000,24,AVqkIdZiv8e3D1O-leaJ,2017-03-06,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,2016-05-19,True,0,5,"this is a steal, have 8 gb model as well.This ...",great little tablet,3690,tabman

In [170]:
popd = df.pop('dateAdded')
df.insert(14, 'dateAdded', popd)

In [171]:
poprd = df.pop('reviewsdate')
df.insert(14,'reviewsdate',poprd)

In [172]:
df

,ProductID,productCode,name,asins,brand,primaryCategories,reviewsdoRecommend,reviewsnumHelpful,reviewsrating,reviewstext,reviewstitle,usernameID,reviewsusername,dateAdded,reviewsdate
1,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,False,0,3,I thought it would be as big as small paper bu...,Too small,1,llyyue,2017-03-03,2017-09-03
2,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,0,5,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,2,Charmi,2017-03-03,2017-06-06
3,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,0,4,Didnt know how much i'd use a kindle so went f...,Great for the price,3,johnnyjojojo,2017-03-03,2018-04-20
4,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,3,5,I am 100 happy with my purchase. I caught it o...,A Great Buy,4,Kdperry,2017-03-03,2017-11-02
5,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,0,5,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,5,Johnnyblack,2017-03-03,2018-04-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,True,0,5,This is a great tablet for the price. Amazon i...,Good product,3813,litle,2017-03-06,2016-10-21
4997,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,True,1,5,This tablet is the perfect size and so easy to...,Great Tablet,3814,gracie,2017-03-06,2016-08-10
4998,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,True,8,4,Purchased this for my son. Has room to upgrade...,Great for kids or smaller needs,3657,Hawk,2017-03-06,2016-06-05
4999,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,True,0,5,I had some thoughts about getting this for a 5...,Very sturdy for a 5 year old,3815,Mrbilly,2017-03-06,2016-09-02
5000,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,Amazon,Electronics,True,0,5,"this is a steal, have 8 gb model as well.This ...",great little tablet,3690,tabman,2017-03-06,2016-05-19

In [173]:
df.insert(loc=13,column='ProductDateID',value=df['dateAdded'].factorize()[0]+1)
df.insert(loc=15,column='reviewsDateID',value=df['reviewsdate'].factorize()[0]+1)

In [174]:
df.head()

,ProductID,productCode,name,asins,brand,primaryCategories,reviewsdoRecommend,reviewsnumHelpful,reviewsrating,reviewstext,reviewstitle,usernameID,reviewsusername,ProductDateID,dateAdded,reviewsDateID,reviewsdate
1,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,False,0,3,I thought it would be as big as small paper bu...,Too small,1,llyyue,1,2017-03-03,1,2017-09-03
2,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,0,5,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,2,Charmi,1,2017-03-03,2,2017-06-06
3,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,0,4,Didnt know how much i'd use a kindle so went f...,Great for the price,3,johnnyjojojo,1,2017-03-03,3,2018-04-20
4,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,3,5,I am 100 happy with my purchase. I caught it o...,A Great Buy,4,Kdperry,1,2017-03-03,4,2017-11-02
5,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,Electronics,True,0,5,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,5,Johnnyblack,1,2017-03-03,5,2018-04-24

In [175]:
df.insert(loc=4,column='brandID',value=df['brand'].factorize()[0]+1)

In [176]:
df.insert(loc=6,column='CategoriesID',value=df['primaryCategories'].factorize()[0]+1)

In [177]:
df.head()

,ProductID,productCode,name,asins,brandID,brand,CategoriesID,primaryCategories,reviewsdoRecommend,reviewsnumHelpful,reviewsrating,reviewstext,reviewstitle,usernameID,reviewsusername,ProductDateID,dateAdded,reviewsDateID,reviewsdate
1,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics,False,0,3,I thought it would be as big as small paper bu...,Too small,1,llyyue,1,2017-03-03,1,2017-09-03
2,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics,True,0,5,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,2,Charmi,1,2017-03-03,2,2017-06-06
3,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics,True,0,4,Didnt know how much i'd use a kindle so went f...,Great for the price,3,johnnyjojojo,1,2017-03-03,3,2018-04-20
4,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics,True,3,5,I am 100 happy with my purchase. I caught it o...,A Great Buy,4,Kdperry,1,2017-03-03,4,2017-11-02
5,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics,True,0,5,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,5,Johnnyblack,1,2017-03-03,5,2018-04-24

##

In [178]:
product = df.iloc[:,:8]
product

,ProductID,productCode,name,asins,brandID,brand,CategoriesID,primaryCategories
1,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
2,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
3,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
4,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
5,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
...,...,...,...,...,...,...,...,...
4996,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
4997,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
4998,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
4999,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
5000,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics

In [179]:
review = df[['reviewsrating','reviewstitle','reviewstext','reviewsdoRecommend','reviewsnumHelpful','usernameID']]
review.index.name = 'reviewID'
review.reset_index
review

,reviewsrating,reviewstitle,reviewstext,reviewsdoRecommend,reviewsnumHelpful,usernameID
reviewID,,,,,,
1,3,Too small,I thought it would be as big as small paper bu...,False,0,1
2,5,Great light reader. Easy to use at the beach,This kindle is light and easy to use especiall...,True,0,2
3,4,Great for the price,Didnt know how much i'd use a kindle so went f...,True,0,3
4,5,A Great Buy,I am 100 happy with my purchase. I caught it o...,True,3,4
5,5,Solid entry-level Kindle. Great for kids,Solid entry level Kindle. Great for kids. Gift...,True,0,5
...,...,...,...,...,...,...
4996,5,Good product,This is a great tablet for the price. Amazon i...,True,0,3813
4997,5,Great Tablet,This tablet is the perfect size and so easy to...,True,1,3814
4998,4,Great for kids or smaller needs,Purchased this for my son. Has room to upgrade...,True,8,3657
4999,5,Very sturdy for a 5 year old,I had some thoughts about getting this for a 5...,True,0,3815
5000,5,great little tablet,"this is a steal, have 8 gb model as well.This ...",True,0,3690

In [180]:
review.reset_index

<bound method DataFrame.reset_index of           reviewsrating                                  reviewstitle  \
reviewID
1                     3                                     Too small
2                     5  Great light reader. Easy to use at the beach
3                     4                           Great for the price
4                     5                                   A Great Buy
5                     5      Solid entry-level Kindle. Great for kids
...                 ...                                           ...
4996                  5                                  Good product
4997                  5                                  Great Tablet
4998                  4               Great for kids or smaller needs
4999                  5                  Very sturdy for a 5 year old
5000                  5                           great little tablet

                                                reviewstext  \
reviewID
1         I thought it would be as big as small paper bu...
2         This kindle is light and easy to use especiall...
3         Didnt know how much i'd use a kindle so went f...
4         I am 100 happy with my purchase. I caught it o...
5         Solid entry level Kindle. Great for kids. Gift...
...                                                     ...
4996      This is a great tablet for the price. Amazon i...
4997      This tablet is the perfect size and so easy to...
4998      Purchased this for my son. Has room to upgrade...
4999      I had some thoughts about getting this for a 5...
5000      this is a steal, have 8 gb model as well.This ...

          reviewsdoRecommend  reviewsnumHelpful  usernameID
reviewID
1                      False                  0           1
2                       True                  0           2
3                       True                  0           3
4                       True                  3           4
5                       True                  0           5
...                      ...                ...         ...
4996                    True                  0        3813
4997                    True                  1        3814
4998                    True                  8        3657
4999                    True                  0        3815
5000                    True                  0        3690

[5000 rows x 6 columns]>

In [181]:
customer =  df.iloc[:,13:15]
customer

          usernameID reviewsusername
reviewID
1                  1          llyyue
2                  2          Charmi
3                  3    johnnyjojojo
4                  4         Kdperry
5                  5     Johnnyblack
...              ...             ...
4996            3813           litle
4997            3814          gracie
4998            3657            Hawk
4999            3815         Mrbilly
5000            3690          tabman

[5000 rows x 2 columns]

In [182]:
productdate = df.iloc[:,15:17]
productdate

          ProductDateID   dateAdded
reviewID
1                     1  2017-03-03
2                     1  2017-03-03
3                     1  2017-03-03
4                     1  2017-03-03
5                     1  2017-03-03
...                 ...         ...
4996                  9  2017-03-06
4997                  9  2017-03-06
4998                  9  2017-03-06
4999                  9  2017-03-06
5000                  9  2017-03-06

[5000 rows x 2 columns]

In [183]:
reviewdate = df.iloc[:,17:]
reviewdate

          reviewsDateID reviewsdate
reviewID
1                     1  2017-09-03
2                     2  2017-06-06
3                     3  2018-04-20
4                     4  2017-11-02
5                     5  2018-04-24
...                 ...         ...
4996                276  2016-10-21
4997                661  2016-08-10
4998                343  2016-06-05
4999                272  2016-09-02
5000                382  2016-05-19

[5000 rows x 2 columns]

In [184]:
productdate2 = productdate.drop_duplicates()

In [185]:
productdate2

          ProductDateID   dateAdded
reviewID
1                     1  2017-03-03
97                    2  2018-02-02
747                   3  2018-04-13
942                   4  2017-11-07
946                   5  2018-05-02
1536                  6  2015-12-09
1558                  7  2017-01-11
1566                  8  2016-04-10
1620                  9  2017-03-06
2987                 10  2017-01-04
3212                 11  2016-08-01
3342                 12  2016-03-31
4221                 13  2016-06-08
4688                 14  2015-12-02

In [186]:
reviewdate2 = reviewdate.drop_duplicates()
reviewdate2

          reviewsDateID reviewsdate
reviewID
1                     1  2017-09-03
2                     2  2017-06-06
3                     3  2018-04-20
4                     4  2017-11-02
5                     5  2018-04-24
...                 ...         ...
4875                657  2017-05-09
4967                658  2016-05-06
4973                659  2016-06-14
4988                660  2016-10-27
4997                661  2016-08-10

[661 rows x 2 columns]

In [187]:
product

,ProductID,productCode,name,asins,brandID,brand,CategoriesID,primaryCategories
reviewID,,,,,,,,
1,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
2,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
3,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
4,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
5,1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,1,Amazon,1,Electronics
...,...,...,...,...,...,...,...,...
4996,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
4997,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
4998,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
4999,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics
5000,24,AVqkIdZiv8e3D1O-leaJ,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",B018Y224PY,1,Amazon,1,Electronics

In [189]:
product2 = product[['ProductID','productCode','name','asins','CategoriesID']]
brand = product.iloc[:,4:6]
categories = product[['CategoriesID','primaryCategories','brandID']]

In [190]:
print(brand)
print(categories)

          brandID   brand
reviewID
1               1  Amazon
2               1  Amazon
3               1  Amazon
4               1  Amazon
5               1  Amazon
...           ...     ...
4996            1  Amazon
4997            1  Amazon
4998            1  Amazon
4999            1  Amazon
5000            1  Amazon

[5000 rows x 2 columns]
          CategoriesID primaryCategories  brandID
reviewID
1                    1       Electronics        1
2                    1       Electronics        1
3                    1       Electronics        1
4                    1       Electronics        1
5                    1       Electronics        1
...                ...               ...      ...
4996                 1       Electronics        1
4997                 1       Electronics        1
4998                 1       Electronics        1
4999                 1       Electronics        1
5000                 1       Electronics        1

[5000 rows x 3 columns]

In [191]:
product2 = product2.drop_duplicates()
brand = brand.drop_duplicates()
categories = categories.drop_duplicates()

In [192]:
brand = brand.to_csv("brand.csv",index=False)

In [193]:
categories = categories.to_csv("categories.csv",index=False)

In [194]:
product2
product2 = product2.to_csv("product.csv",index=False)

In [195]:
productdate2 = productdate2.to_csv("productdate.csv",index=False)

In [196]:
reviewdate2=reviewdate2.to_csv("reviewdate.csv",index=False)

In [197]:
review.index.name = 'reviewID'
review = review.to_csv("review.csv",index=True)

In [198]:
customer2 = customer.drop_duplicates()
customer2

          usernameID reviewsusername
reviewID
1                  1          llyyue
2                  2          Charmi
3                  3    johnnyjojojo
4                  4         Kdperry
5                  5     Johnnyblack
...              ...             ...
4993            3811          QueenT
4994            3812         Toddler
4996            3813           litle
4997            3814          gracie
4999            3815         Mrbilly

[3815 rows x 2 columns]

In [199]:
customer2 = customer2.to_csv("customer.csv",index=False)

In [200]:
associate = df[['ProductID','ProductDateID','reviewsDateID']]

In [201]:
associate

          ProductID  ProductDateID  reviewsDateID
reviewID
1                 1              1              1
2                 1              1              2
3                 1              1              3
4                 1              1              4
5                 1              1              5
...             ...            ...            ...
4996             24              9            276
4997             24              9            661
4998             24              9            343
4999             24              9            272
5000             24              9            382

[5000 rows x 3 columns]

In [202]:
associate = associate.to_csv("associate.csv",index=True)

In [203]:
overall = df.to_csv("overallProduct.csv",index =True)